<div class="main">
    <div>
        <img src="/assets/footer-img/footer-img.jpg">
    </div>

    <div>
        <h3>Members of this Project</h3>
        <div>
            <div class="footerItems">
                <span> Gleissner Sophie </span>
                <a><img src="/assets/footer-img/icon-fb.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-ig.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-git.png.png" class="icons"></a>

            </div>
            <div class="footerItems">
                <span> Gazmend Aliu </span>
                <a href="https://www.facebook.com/vrcmrc"><img src="/assets/footer-img/icon-fb.png.png" href="https://www.facebook.com/vrcmrc" class="icons"></a>
                <a><img src="/assets/footer-img/icon-ig.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-git.png.png" class="icons"></a>

            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <a><img src="/assets/footer-img/icon-fb.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-ig.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-git.png.png" class="icons"></a>

            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <a><img src="/assets/footer-img/icon-fb.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-ig.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-git.png.png" class="icons"></a>

            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <a><img src="/assets/footer-img/icon-fb.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-ig.png.png" class="icons"></a>
                <a><img src="/assets/footer-img/icon-git.png.png" class="icons"></a>
            </div>
        </div>
    </div>

    <div>
        <h3> CodeFactory</h3>
        <span> Addres:</span>
        <p>Kettenbrückengasse 23 / 2 / 12, 1050 Wien</p>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.5281063085467!2d16.357227315651134!3d48.196442979228195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da8192fde39d7%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sen!2sat!4v1688386564686!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>