.main { 
    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 250px;
    display: flex;
    align-items: center;
    margin-top:  50px;
    

    img {
        width: 200px;
    }
.icons {
    width: 30px;
}
}