<div class="main">
    <div>
        <img src="/assets/footer-img/footer-img.jpg">
    </div>

    <div>
        <h3>Members of this Project</h3>
        <div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <img src="/assets/footer-img/icon-fb.png.png" class="icons">
                <img src="/assets/footer-img/icon-ig.png.png" class="icons">
            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <img src="/assets/footer-img/icon-fb.png.png" class="icons">
                <img src="/assets/footer-img/icon-ig.png.png" class="icons">
            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <img src="/assets/footer-img/icon-fb.png.png" class="icons">
                <img src="/assets/footer-img/icon-ig.png.png" class="icons">
            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <img src="/assets/footer-img/icon-fb.png.png" class="icons">
                <img src="/assets/footer-img/icon-ig.png.png" class="icons">
            </div>
            <div class="footerItems">
                <span> Name Surname 1 </span>
                <img src="/assets/footer-img/icon-fb.png.png" class="icons">
                <img src="/assets/footer-img/icon-ig.png.png" class="icons">
            </div>
        </div>
    </div>

    <div>

    </div>
</div>