

.main {
    background-color: rgb(70, 69, 69);
 
   
    padding-left: 100px;
   

    h2 {
        color: rgb(202, 187, 187);
    }
    
.d1 {
    width: 800px;
}
a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


.map {
    width: 400px;
    height: 230px;
}

img{
    cursor: pointer;
    margin-left: 5px;
}
p {
    color: white;

}
}

@media  screen and (min-width: 820px) {
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
      

    }
}