<!-- CodeFactory History Start -->
<div class="container" id="history">
    <h2>About the CodeFactory GmbH</h2>
    <p>CodeFactory Vienna was founded in 2016 and is modeled after the idea of programming bootcamps popular in the English-speaking world. A time-effective and highly practical education is the goal, with the objective of achieving the quickest possible
        career entry as a junior developer. The format is particularly geared toward college freshmen, those who want to change careers after completing their second or third education path, and people who are interested in an application-oriented education.
        The CodeFactory GmbH contributes to the growth and provision of contemporary, condensed IT-educations, particularly for those outside traditional educational pathways. This is done in collaboration with a tangled network of educational consulting
        organizations. We place a high value on a holistic education, career-relevant skills, as well as networking with industry and mentors even during the educational process because we are aware that on the current labor market, programming languages
        and technical skills alone do not suffice.</p>
    <hr>


    <h3>What are our responsibilities?</h3>
    <p>The CodeFactory provides a wide range of educational and training opportunities to improve IT skills, particularly in the areas of programming and software development. Our goal is to deliver training, especially career-qualifying training, in a contemporary,
        attractive, and effective manner. We do this both on-site and online. We offer additional events and services to support our customers in addition to the basic training in IT skills and subsequent holistic soft skills.</p>
    <hr>

    <h3>What are our standards and values?</h3>
    <p>Digital competence and education contribute to a person's awareness and maturity and can lead to a fulfilling life. We provide current foundations that enable people to live independently and meet challenges in daily life. We are convinced of the
        validity of a comprehensive learning paradigm. This implies a culture of self-directed learning. Effective learning takes place in a variety of contexts and settings, both physical and virtual. The human capacity for participation, interaction,
        and communication creates opportunities for informal learning. Our work's quality, usability, and consistency are all of utmost importance. We focus on questions that relate to real-world issues and task assignments in industry, as well as the
        always evolving technological foundation. Products of our work stand out for their expertise and practicality. They are focused on the "state of the art" in terms of global development and market demands.</p>

    <p>What corporate culture do we live?<br> CodeFactory will be a more exciting location for digital education and lifelong learning. In addition to promoting education, we foster networking, intercultural friendship, and professional networking. We are
        members of the knowledge society; our staff members are communicative, accustomed to taking initiative, and capable of acting independently. Because we are customer-focused, we have clear standards for quality control. We have the agility to respond
        quickly to challenges since we are a lean, dynamic company with a defined brand. The CodeFactory will continue to be recognized, valued, and sought after as a competent and dependable education company by its employees, employers and businesses,
        educational institutions, clients, collaboration partners, and especially our private customers.</p>
</div>
<!-- CodeFactory History End -->