.history {
    text-align: justify;
    h2 {
        text-align: center;
        text-decoration: underline;
        padding-bottom: 20px;
        padding-top: 30px;
        border: solid black 2px;
    }
    h3 {
        text-align: center;
        text-decoration: underline;
        padding-bottom: 20px;
        padding-top: 10px;
        border: solid black 2px;
    }
    p{
        padding-bottom: 10px;
    }

}

.team {
    h2 {
        text-align: center;
        text-decoration: underline;
        padding-bottom: 20px;
        padding-top: 30px;
        border: solid black 2px;
    }
}