<!doctype html>

<div class="hero">
    <div class="line-container">
        <hr class="line-animation">
    </div>
    <div class="image"></div>
    <div class="small-image small-image-left"></div>
    <div class="small-image small-image-right"></div>
    <div class="extra-small-image extra-small-image-left"></div>
    <div class="extra-small-image extra-small-image-right"></div>
    <!-- <img class="image" src="./assets/images/gear2.png" alt=""> -->
    <div class="headline">CodeFactory</div>
</div>