.navbar {
    background-color: rgb(121, 27, 27) !important;

    a {
        margin-left: 45px;
        text-shadow: 0 0 3px white;
    }
    a:hover {
        color: rgb(167, 240, 240) !important;
    }

    .logo {
        height: 50px;
        background-color: white;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 10px white;
    }
}