<div class="container containerr ">

    
    <div class="diiv1">
        <h2>Welcome to CodeFactory</h2>
        <hr>
        <iframe class="test" width="90%" height="315" src="https://www.youtube.com/embed/eHS0TGC_Izg" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
      </div>


    <div class="diiv1">
        <h2>We Create Developers</h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/xZ99x77cgSk" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
      </div>

        
    <div class="diiv1">
        <h2>Tipps für zukünftige StudentInnen</h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/FCtiIwN0lug" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    

    <div class="diiv1">
        <h2>Automated Software Tester</h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/7qAC2f2lWfQ" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
         web-share" allowfullscreen></iframe>
    </div>


    <div class="diiv1">
        <h2>You think you can't get into IT?</h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/LK3cLNexNFk" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="diiv1">
        <h2>Code Review Advice </h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/-XR93HWAR0g" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="diiv1">
        <h2>HTML&CSS Full Course Beginner to Pro</h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/G3e-cpL7ofc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
         clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="diiv1">
        <h2>JavaScript Full Course (2023) - Beginner to Pro </h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/SBmSRK3feww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
         clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="diiv1">
        <h2>Git and GitHub - 0 Experience to Professional in 1 Tutorial </h2>
        <hr>
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/hrTQipWp6co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


</div>  