<app-hero></app-hero>

<h1>OUR COURSES</h1>

<div class="courses">
    <div class="cards" *ngFor="let x of courses;index as i">
        <div class="card mycard" style="width: 28rem; height: 28rem;">
            <img src="{{x.image}}" class="card-img-top" alt="Oops" style=" height:12rem;">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p><b>Price:</b> {{x.price}}€</p>
              <p ><b>Duration:</b> {{x.duration}}</p>
              <p ><b>Level:</b> {{x.level}}</p>
              <hr>
              <div class="btns">
                <a routerLink="/details/{{i}}" class="btn mybtn" style="width: 15rem;">Details</a>
                <a href="{{x.url}}" target="_blank" class="btn mybtn1" style="width: 15rem;">Apply</a>
              </div>

            </div>
        </div>
    </div>
</div>
<h1>Testimonials</h1>
<div class="d-flex justify-content-center">
  <div id="carouselExampleInterval" class="carousel carousel-dark slide w-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="/assets/testimon/person1.png" class="d-block w-100" style="margin: 0 auto;" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/testimon/person2.png" class="d-block w-100" style="margin: 0 auto;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/testimon/person3.png" class="d-block w-100" style="margin: 0 auto;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>




