
.courses{
 
    padding: 20px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
   
    
}

h1{
  font-family: 'Wallpoet', cursive;
  border:2px solid  black;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255) ;
  background-color:  rgb(121, 27, 27);
  text-shadow: 0 0 3px white;
}

.cards{
  
    margin: 0 auto;
}

.mycard{
  border: 1px solid black;
  box-shadow: 0 0 15px;
}


.btns{
display: flex;
gap: 1rem;
}

.mybtn{
  background-color: rgb(121, 27, 27) !important;
  color: white;
}

.mybtn1{
  background-color: rgb(70, 69, 69) !important;
  color: white;
}

.testi {
  // display: flex !important;
  // justify-content: center !important;
  // width: 500px !important;
  // height: 500px !important;
  display: flex !important;
  justify-content: center !important;
}
.carouselReset{
  margin-right: 0!important;
}



// Grid responsiveness

@media  screen and (max-width: 1460px) {
    .courses {
      grid-template-columns: repeat(2,1fr);

    }
  }

  @media  screen and (max-width: 1100px) {
    .courses {
      grid-template-columns: repeat(1,1fr);
      

    }
}

@media  screen and (max-width: 570px) {
  .courses {
    grid-template-columns: repeat(1,1fr);
    

  }

  .mycard{
    width: 20rem !important;
  }
}