<app-hero></app-hero>


<div class="courses">
    <div class="cards" *ngFor="let x of courses;index as i">
        <div class="card" style="width: 28rem; height: 25rem;">
            <img src="{{x.image}}" class="card-img-top" alt="Oops" style=" height:12rem;">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p ><b>Duration:</b> {{x.duration}}</p>
              <p ><b>Duration:</b> {{x.level}}</p>
              <hr>
              <div class="btns">
                <a routerLink="/details/{{i}}" class="btn btn-primary" style="width: 15rem;">Details</a>
                <a href="{{x.url}}" class="btn btn-success" style="width: 15rem;">Apply</a>
              </div>

            </div>
        </div>
    </div>
</div>
