.insta{
  display: flexbox;
  object-fit:scale-down;
}
body{
  margin: 25px;
}
.card{
  margin: 35px;
  justify-content: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
}