<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
</head>
<body>
  <h1 class="uppercase"> News </h1>

  
  <div class="card" style="width: 534px">
    <div class="card-body">
      <h5 class="card-title">30/06/2023</h5>
      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7080181213008654337" height="650px" width="504" frameborder="0" allowfullscreen="" ></iframe>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Read more!</a>
      
    </div>
  </div>

</body>
</html>
