<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link src="./news.component.css" rel="stylesheet">
  <title>News</title>
</head>
<body>
  <marquee><h1 class="uppercase"> News - New Posts - Info</h1></marquee>
  
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <div class="card" style="width: 534px">
      <div class="card-body">
        <h5 class="card-title">02/07/2023</h5>
        <div id="wrap">
          <a href="https://www.instagram.com/p/CuKY9Z5tjxc/"><img src="./../../assets/CF-Insta.jpg" alt="Instagram" width="100%"></a> 
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">HTML and CSS basic course 15th& 16th July 2023</li>
        <li class="list-group-item">Register Now</li>
        
      </ul>
      <div class="card-body">
        <a href="https://www.instagram.com/codefactoryvienna/" class="card-link">See more!</a>
        
      </div>
    </div>
   
    <div class="card" style="width: 534px">
      <div class="card-body">
        <h5 class="card-title">30/06/2023</h5>
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7080181213008654337" height="650px" width="504" frameborder="0" allowfullscreen="" ></iframe>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Project Week coming soon...</li>
      </ul>
      <div class="card-body">
        <a href="https://www.linkedin.com/company/codefactory-vienna/posts/?feedView=all" class="card-link">See more!</a>
        
      </div>
    </div>

    <div class="card" style="width: 534px">
      <div class="card-body">
        <h5 class="card-title">30/06/2023</h5>
        <iframe src="https://www.linkedin.com/posts/codefactory-vienna_it-wecreatedeveloper-fullstack-activity-7069638929091559426-tKaC?utm_source=share&utm_medium=member_desktop" height="650px" width="504" frameborder="0" allowfullscreen="" ></iframe>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">The FullStack and Front-End Course is off to a nice start!!</li>
      </ul>
      <div class="card-body">
        <a href="https://www.linkedin.com/company/codefactory-vienna/posts/?feedView=all" class="card-link">See more!</a>
        
      </div>
    </div>
  </div>







  
  
</body>
</html>
