<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link src="./news.component.css" rel="stylesheet">
  <title>News</title>
</head>
<body>
  <marquee class="thething"><h1 class="uppercase"> News - New Posts - Info</h1></marquee>
  <!-- CARD 0 - INSTAGRAM -->
  <div class="container">
    <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1" > -->
      <div class="card text-white bg test" style="width: 33.4rem">
        <div class="card text-center">
          <div class="card-header">
            Instagram
          </div>
        <div class="card-body">
          <!-- <h5 class="card-title"> /h5> -->
          <div id="wrap">
            <a href="https://www.instagram.com/p/CuPpaNhNbzm/"><img src="./../../assets/CF-Insta3.jpg" alt="Instagram" width="100%"></a> 
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Backend Web Developer 10th July - 24th August</li>
          <li class="list-group-item"><a  href="https://codefactory.wien/de/registration-backend-developer-de/" target="_blank" class="btn btn-outline-light">Register Now</a></li>
          
        </ul>
        <div class="card-body">
          <a href="https://www.instagram.com/codefactoryvienna/" target="_blank" class="card-link">See more!</a>
          
        </div>
        <div class="card-footer text-muted">
          03/07/2023 
        </div>
        </div>
      
    </div>


  <!-- CARD 1 - INSTAGRAM -->
  <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1"> -->
    <div class="card text-white bg test" style="width: 33.4rem">
      <div class="card text-center">
        <div class="card-header">
          Instagram
        </div>
      <div class="card-body">
        <!-- <h5 class="card-title"> /h5> -->
        <div id="wrap">
          <a href="https://www.instagram.com/p/CuKY9Z5tjxc/"><img src="./../../assets/CF-Insta.jpg" alt="Instagram" width="100%"></a> 
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">HTML and CSS basic course 15th & 16th July 2023</li>
        <li class="list-group-item"><a  href="https://codefactory.wien/de/registration-basiskurs-html-css-de/" target="_blank" class="btn btn-outline-light">Register Now</a></li>
        
      </ul>
      <div class="card-body">
        <a href="https://www.instagram.com/codefactoryvienna/" target="_blank" class="card-link">See more!</a>
        
      </div>
      <div class="card-footer text-muted">
        02/07/2023 
      </div>
      </div>
    </div>

  <!-- CARD 2 - LINKEDIN -->
<!-- 
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1"> -->
    <div class="card text-white bg test" style="width: 33.4rem">
      <div class="card text-center">
        <div class="card-header">
          LinkedIn
        </div>
      <div class="card-body">
        <!-- <h5 class="card-title"> - LinkedIn</h5> -->
        <a href="https://www.linkedin.com/posts/codefactory-vienna_the-students-are-preparing-for-the-last-week-activity-7080181213717504001-idKp?utm_source=share&utm_medium=member_desktop"><img src="./../../assets/CF-LinkedIn2.jpg" alt="LinkedIn" width="100%"></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Project Week coming soon...</li>
      </ul>
      <div class="card-body">
        <a href="https://www.linkedin.com/company/codefactory-vienna/posts/?feedView=all" target="_blank" class="card-link">See more!</a>
        
      </div>
      <div class="card-footer text-muted">
        30/06/2023 
      </div>
    </div>
    </div>
    

<!-- CARD 3 - INSTAGRAM -->

    <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1"> -->
      <div class="card text-white bg test" style="width: 33.4rem">
        <div class="card text-center">
          <div class="card-header">
            Instagram
          </div>
        <div class="card-body">
          <!-- <h5 class="card-title">27/06/2023 - Instagram</h5> -->
          <div id="wrap">
            <a href="https://www.instagram.com/p/Ct9g-0RNym7/"><img src="./../../assets/CF-Insta2.jpg" alt="Instagram" width="100%"></a> 
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Evening Course Part Time Front End Web Dev start: 11th September</li>
          <li class="list-group-item"><a  href="https://codefactory.wien/de/anmeldung-frontend-developer-abendkurs/" target="_blank" class="btn btn-outline-light">Register Now</a></li>
        </ul>
        <div class="card-body">
          <a href="https://www.instagram.com/codefactoryvienna/" target="_blank" class="card-link">See more!</a>
          
        </div>
        <div class="card-footer text-muted">
          27/06/2023 
        </div>
      </div>
    </div>
    

<!-- CARD 4 - LINKEDIN -->


    <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1"> -->
      <div class="card text-white bg test" style="width: 33.4rem">
        <div class="card text-center">
          <div class="card-header">
            LinkedIn
          </div>
        <div class="card-body">
          <!-- <h5 class="card-title"> - LinkedIn</h5> -->
          <a href="https://www.linkedin.com/posts/codefactory-vienna_it-wecreatedeveloper-fullstack-activity-7069638929091559426-tKaC?utm_source=share&utm_medium=member_desktop"><img src="./../../assets/CF-LinkedIn.jpg" alt="LinkedIn" width="100%"></a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">The FullStack and Front-End Course are off to a nice start!!</li>
        </ul>
        <div class="card-body">
          <a href="https://www.linkedin.com/company/codefactory-vienna/posts/?feedView=all" target="_blank"class="card-link">See more!</a>
          
        </div>
        <div class="card-footer text-muted">
          30/06/2023 
        </div>
        </div>
  
      </div>
  </div>
  
</body>
</html>
