
<div class="heroo">
    <img id="heroo1" src="/assets/Team-fotos/Hero.jpg" alt="">
</div>


<div class="container">
    <div class="firstMember">
        <div class="firstMemberPic">
            <img id="imgMember1" class="imgg" src="/assets/Team-fotos/memberOne.png" alt="Member1">
            <a class="pe-2" href="https://mariana.codefactory.live/" target="_blank"><button class="btn mybtn1" style="width: 12rem">Check out my Portfolio!</button></a>
        </div>
        <div class="firstMemberText">
            <p id="memberText1">I am Mariana Petriashvili. I am a graphic and media designer, web designer, and front-end web developer. I love design and using my creativity to make peoples' days brighter.</p>
        </div>
    </div>

    <div class="secondMember">
        <div class="secondMemberText">
            <p class="ps-2" id="memberText2">My name is Gazmend Aliu I am a Full Stack Developer , this Project is/was our last Project in Front End ,I Hope you like it
                and see you on our other Backend Projects.</p>
        </div>
        <div class="secondMemberPic">
            <img id="imgMember2"  src="/assets/Team-fotos/memberTwo.png" alt="Member2">
            <a class="int" href="https://gazmend.codefactory.live/" target="_blank"><button class="btn mybtn1 " style="width: 12rem">Check out my Portfolio!</button></a>
        </div>
    </div>

    <div class="thirdMember">
        <div class="thirdMemberPic">
            <img id="imgMember3" class="imgg" src="/assets/Team-fotos/memberThree.png" alt="Member3">
            <a  href="https://sophie.codefactory.live/" target="_blank"><button class="btn mybtn1" style="width: 12rem">Check out my Portfolio!</button></a>
        </div>
        <div class="thirdMemberText">
            <p class="pe-2" id="memberText3">Hi, my name is Sophie Gleissner. I am a chemist and future full-stack web developer working on finishing the front-end part. I love science and being creative.</p>
        </div>
    </div>

    <div class="fourthMember">
        <div class="fourthMemberText">
            <p class="ps-2">Hi, my name is Giorgos Tsoulakis. I am a Fullstack web developer currently studying at Codefactory. This was the last project for Front End</p>
        </div>
        <div class="fourthMemberPic">
            <img id="imgMember4" class="imgg" src="/assets/Team-fotos/memberFour.png" alt="Member4">
            <a  href="https://georgios.codefactory.live/" target="_blank"><button class="btn mybtn1 int" style="width: 12rem">Check out my Portfolio!</button></a>
        </div>
    </div>

    <div class="fifthMember">
        <div class="fifthMemberPic">
            <img id="imgMember5" class="imgg" src="/assets/Team-fotos/memberFive.png" alt="Member5">
            <p>
                <a href="https://pritesh.codefactory.live/Portfolio/" target="_blank"><button class="btn mybtn1" style="width: 12rem">Check out my Portfolio!</button></a>
            </p>
        </div>
        <div class="fifthMemberText">
            <p class="pe-2" id="memberText5">My Name is Pritesh and I am currently attending the Full Stack Web Developer course at CodeFactory Vienna. So far I am really into the front-end part of the course.</p>
        </div>
    </div>
</div>




