img {
    width: 180px;
    padding: 20px;
}

.firstMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 35px;
    background-color: rgb(121, 27, 27);
    color: white;
    p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        text-align: center;
    }
    button {
        margin: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        border-radius: 10px;
        font-family: roboto;
    }
}

.secondMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        text-align: center;
    }
    button {
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 15px;
        font-family: roboto;
    }
}

.thirdMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        text-align: center;
    }
    button {
        margin: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        border-radius: 10px;
        font-family: roboto;
    }
}

.fourthMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        text-align: center;
    }
    button {
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 15px;
        font-family: roboto;
    }
}

.fifthMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: rgb(121, 27, 27);
    color: white;
    p {
        padding-left: 35px;
        padding-right: 20px;
        padding-top: 70px;
        text-align: center;
        justify-content: center;
    }
    button {
        margin: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        border-radius: 10px;
        font-family: roboto;
    }
}