.heroo {

    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    #heroo1 {
        width: 60%;
        border-radius: 30px;
    }
}

.firstMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 35px;
    background-color: rgb(121, 27, 27);
    color: white;
    #imgMember1 {
        width: 180px;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 35px;
    }
    #memberText1 {
        text-align: center;
    }
    .firstMemberText{
        display: flex;
        align-items: center;
        // padding-right: 100px;
    }
    button {
    background-color: white;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 10px;
    font-family: roboto;
    }
}

.secondMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    #imgMember2 {
        width: 20%;
        width: 150px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #memberText2 {
        text-align: center;
        // padding-left: 20px;
        padding-right: 20px;
    }
    .secondMemberText{
        display: flex;
        align-items: center;
        
    }
    button {
        background-color: white;
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: roboto;
    }
}

.thirdMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    #imgMember3 {
        width: 180px;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 35px;
    }
    #memberText3 {
        text-align: center;
    }
    .thirdMemberText{
        display: flex;
        align-items: center;
        // margin-right: 100px;
    }
    button {
    background-color: white;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: roboto;
    }
}

.fourthMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;

    #imgMember4 {
        // flex-basis: 50%;
        width: 20%;
        width: 150px;
        margin-top: 20px;
        margin-bottom: 5px;
       // margin-left: 5%;
        // margin-right: 120px;
    }
    #memberText4 {
        text-align: center;
    }
    .fourthMemberText{
        display: flex;
        align-items: center;
        text-align: center;
        // padding-left: 85px;
        // padding-right: 240px;
    }
    .fourthMemberPic{
        margin-left:5% ;
    }
    button {
        background-color: white;
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-family: roboto;
    }
}

.fifthMember {
    display: flex;
    border: solid rgb(121, 27, 27) 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(121, 27, 27);
    color: white;
    #imgMember5 {
        width: 180px;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 35px;
    }
    #memberText5 {
        text-align: center;
    }
    .fifthMemberText{
        display: flex;
        align-items: center;
        // padding-right: 100px;
    }
    button {
        background-color: white;
        margin: 5px;
        margin-bottom: 20px;
        margin-left: 20px;
        border-radius: 10px;
        font-family: roboto;
    }
}
