<div class="details">
    <img src="{{course.img2}}" width="60%" alt="">
</div>

<div class="description">
    <h2>Description</h2>
    <p>{{course.description}}</p>
    <h2>{{course.name2}}</h2>
    <ul>
        <li *ngFor="let val of course.list">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name3}}</h2>
    <ul>
        <li *ngFor="let val of course.description2">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name4}}</h2>
    <ul>
        <li *ngFor="let val of course.list2">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name5}}</h2>
    <p>{{course.description3}}</p>
    <h2>{{course.name6}}</h2>
    <!--<a href="https://codefactory.wien/en/registration-frontend-developer-en/"><button>Apply</button></a>-->
    <ul>
        <li *ngFor="let val of course.list3">
            {{val}}
        </li>
    </ul>

    <h2>{{course.name7}}</h2>
    <ul>
        <li *ngFor="let val of course.list4">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name8}}</h2>
    <p *ngFor="let val of course.description4">
        {{val}}
    </p>
    <h2>{{course.name9}}</h2>
    <ul>
        <li *ngFor="let val of course.list5">
            {{val}}
        </li>
    </ul>

    <!-- <a href="https://codefactory.wien/en/registration-backend-developer-en/"><button>Apply</button></a>-->

    <h2>{{course.name10}}</h2>
    <ul>
        <li *ngFor="let val of course.list6">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name11}}</h2>
    <ul>
        <li *ngFor="let val of course.list7">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name12}}</h2>
    <p *ngFor="let val of course.description5">
        {{val}}
    </p>
    <h2>{{course.name13}}</h2>
    <h4>{{course.name14}}</h4>
    <ul>
        <li *ngFor="let val of course.list8">
            {{val}}
        </li>
    </ul>
    <h4>{{course.name15}}</h4>
    <ul>
        <li *ngFor="let val of course.list9">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name16}}</h2>
    <p *ngFor="let val of course.description6">
        {{val}}
    </p>

    <!--<a href="https://codefactory.wien/en/registration-full-stack-web-developer-en/"><button>Apply</button></a>-->


    <h2>{{course.name17}}</h2>

    <ul>
        <li *ngFor="let val of course.list10">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name18}}</h2>
    <ul>
        <li *ngFor="let val of course.list11">
            {{val}}
        </li>
    </ul>

    <h2>{{course.name19}}</h2>
    <ul>
        <li *ngFor="let val of course.list12">
            {{val}}
        </li>
    </ul>

    <!--<a href="https://codefactory.wien/en/registration-basiskurs-javascript-en/"><button>Apply</button></a>-->

    <h2>{{course.name20}}</h2>
    <ul>
        <li *ngFor="let val of course.list13">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name21}}</h2>
    <ul>
        <li *ngFor="let val of course.list14">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name22}}</h2>
    <ul>
        <li *ngFor="let val of course.list15">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name12}}</h2>
    <p *ngFor="let val of course.description5">
        {{val}}
    </p>

    <!--<a href="https://codefactory.wien/en/registration-basiskurs-html-css-en/"><button>Apply</button></a>-->

    <h2>{{course.name23}}</h2>
    <ul>
        <li *ngFor="let val of course.list16">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name24}}</h2>
    <ul>
        <li *ngFor="let val of course.list17">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name25}}</h2>
    <ul>
        <li *ngFor="let val of course.list18">
            {{val}}
        </li>
    </ul>
    <h2>{{course.name26}}</h2>
    <p *ngFor="let val of course.description7">
        {{val}}
    </p>
    <br>
    <a href="{{course.url}}" target="_blank" class="btn btn_my" style="width: 15rem;">Apply</a>

</div>


<!--
<ul>
    <li *ngFor="let val of course.description">
        {{val}}
    </li>
</ul>-->

<!--<p *ngFor="let val of course.description">
        {{val}}
    </p>-->