.details {
    height: 100%;
    display: flex;
    justify-content: center;
    img {
        padding-bottom: 20px;
    }
}

.description {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}