.details {
    height: 100%;
    display: flex;
    justify-content: center;
    img {
        padding-bottom: 20px;
    }
}

.description {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.btn_my {
    background-color: rgb(121, 27, 27) !important;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: -4px -5px 16px -1px rgba(0, 0, 0, 0.22);
}